<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>18.0f2</Version>
<Cluster>
<Name>Paramètres en entrée</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>Configuration du matériel</Name>
<NumElts>5</NumElts>
<String>
<Name>Refnum de matériel &lt;À remplacer&gt;</Name>
<Val></Val>
</String>
<EW>
<Name>Type de signal &lt;À remplacer&gt;</Name>
<Choice>Sine Wave</Choice>
<Choice>Square with Noise</Choice>
<Choice>Signal triangulaire</Choice>
<Choice>Simulation DAQ</Choice>
<Val>3</Val>
</EW>
<DBL>
<Name>Choix de la longueur d'onde</Name>
<Val>500.00000000000000</Val>
</DBL>
<DAQChannel>
<Name>Nom du périphérique</Name>
<Val>Dev1</Val>
</DAQChannel>
<Boolean>
<Name>Choix mode</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>Configuration de l'enregistrement</Name>
<NumElts>2</NumElts>
<Path>
<Name>Chemin de base du fichier journal</Name>
<Val>C:\Users\ANDAI35\Documents\LabVIEW Data\Logged Data.tdms</Val>
</Path>
<Refnum>
<Name>Référence de fichier TDMS</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
</Cluster>
</LVData>